.back{
    font-family:'Courier New', Courier, monospace;
    background-image: url(../assets/bbdy.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 182);
}
.font{
    font-size:1vw;
}
.footer1{
    width: 10%;
    height: 100%; 
    margin: auto .6vw;
}
.footer3{
    max-width: 100%;
    margin: auto .6vw;
}
.headline{
    font-size: 2vw;
    text-decoration: none; 
    color: green;
    text-shadow: 0.02em 0.02em black; 
}
.fs{
    margin: auto 15vw;
}
.hs{
    background: linear-gradient(to bottom, rgb(54, 54, 54), black);
}
.content{
    padding-top: 9vw;
}
.item{
    margin: 1vw;
    padding: 1vw;
}
.item1{
    display: block;
    box-sizing: border-box;
    margin: 1vw;
    padding: 1vw;
}
.image{
    width: 10%;
}
.title{
    text-shadow: black 0.1em 0.1em ;
}
.simage{
    max-width: 50%;
}
.rob{
    width: 100%;
}
@media(max-width:768px){
    .content{
        margin-top: 20vw;
    }
    .font{
        font-size: 4vw;
    }
    .title{
        font-size: 8vw;
        text-shadow: black 0.1em 0.1em ;
    }
    .fs{
        margin: auto 0vw;
    }
    .fot img{
        display: none;
    }
    .headline{
        text-decoration: none; 
        color: green;
        font-size: 4.5vw;  
        text-shadow: 0.02em 0.02em black; 
    }
    .rob{
        width: 100%;
    }
    .simage{
        max-width: 100%;
    }
}
@media(min-width: 768px) and (max-width:1024px){
    .content{
        margin-top: 20vw;
    }
    .rob{
        width: 25%;
    }
    .fs{
        margin: auto 1vw;
    }
    .font{
        font-size: 4vw;
    }
    .fot img{
        display: none;
    }
    .fs{
        margin: 0;
    }
    .headline{
        text-decoration: none; 
        color: green;
        font-size: 4vw;  
        text-shadow: 0.02em 0.02em black; 
    }
    .title{
        font-size: 8vw;
        text-shadow: black 0.1em 0.1em ;
    }
    .simage{
        max-width: 100%;
    }
}
